# Ignore files that should not be tracked by Git
# Those are large files which is not needed to be tracked by git

dataset/*
ckp/*
plots/*
results/*
tmp/*
tests/standard_training/*
tests/adv_training/*
tests/pr_training/*